   {% extends "newprojectapp/base.html"%}


   {% load static %}

   {% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'newprojectapp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">"Gustos y Sabores"</span>
            <span class="section-heading-lower">Los Compadres</span>
          </h2>
          <p class="mb-3">Ofrecemos gran variedad de platos típicos arequipeños, comida criolla, parrillas, y los más deliciosos cocteles.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Restaurante Turístico Familiar</span>
                <span class="section-heading-lower">Los Compadres</span>
              </h2>
              <p class="mb-0">Ubícanos en 
                Av. Villa Hermosa 516 Urb. La Libertad, Cerro Colorado, Arequipa, Perú.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}

